## Quiz #0203

In [1]:
import pandas as pd
import numpy as np
import os

#### Read in the data.

In [2]:
!wget --no-clobber https://raw.githubusercontent.com/tn-220/SIC-Machine-Learning/main/SIC_ML_Quizzes/SIC_ML_Chapter_03_Quiz/data_sales.csv

--2022-09-14 17:33:43--  https://raw.githubusercontent.com/tn-220/SIC-Machine-Learning/main/SIC_ML_Quizzes/SIC_ML_Chapter_03_Quiz/data_sales.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1766 (1.7K) [text/plain]
Saving to: ‘data_sales.csv’

data_sales.csv      100%[===================>]   1.72K  --.-KB/s    in 0s

2022-09-14 17:33:44 (24.4 MB/s) - ‘data_sales.csv’ saved [1766/1766]

In [3]:
df = pd.read_csv('data_sales.csv', header='infer')

In [4]:
df.shape

(43, 5)

In [5]:
df.head(5)

          Date   Region     Item  UnitPrice  Units
0   4-Jul-2014     East  Pen Set       4.99     62
1  12-Jul-2014     East   Binder       1.99     29
2  21-Jul-2014  Central  Pen Set      12.49     55
3  29-Jul-2014     East   Binder      19.99     81
4   7-Aug-2014  Central  Pen Set      23.95     42

#### Answer the following questions.

1). Append a new variable $Amount = UnitPric \times Units$.

In [9]:
df["Amount"] = df.UnitPrice*df.Units
df

           Date   Region     Item  UnitPrice  Units   Amount
0    4-Jul-2014     East  Pen Set       4.99     62   309.38
1   12-Jul-2014     East   Binder       1.99     29    57.71
2   21-Jul-2014  Central  Pen Set      12.49     55   686.95
3   29-Jul-2014     East   Binder      19.99     81  1619.19
4    7-Aug-2014  Central  Pen Set      23.95     42  1005.90
5   15-Aug-2014     East   Pencil       4.99     35   174.65
6   24-Aug-2014     West     Desk     275.00      3   825.00
7    1-Sep-2014  Central     Desk     125.00      2   250.00
8   10-Sep-2014  Central   Pencil       1.29      7     9.03
9   18-Sep-2014     East  Pen Set      15.99     16   255.84
10  27-Sep-2014     West      Pen       1.99     76   151.24
11   5-Oct-2014  Central   Binder       8.99     28   251.72
12  14-Oct-2014     West   Binder      19.99     57  1139.43
13  22-Oct-2014     East      Pen       8.99     64   575.36
14  31-Oct-2014  Central   Pencil       1.29     14    18.06
15   8-Nov-2014     East      Pen      19.99     15   299.85
16  17-Nov-2014  Central   Binder       4.99     11    54.89
17  25-Nov-2014  Central  Pen Set       4.99     96   479.04
18   4-Dec-2014  Central   Binder      19.99     94  1879.06
19  12-Dec-2014  Central   Pencil       1.29     67    86.43
20  21-Dec-2014  Central   Binder       4.99     28   139.72
21  29-Dec-2014     East  Pen Set      15.99     74  1183.26
22   6-Jan-2015     East   Pencil       1.99     95   189.05
23  15-Jan-2015  Central   Binder       8.99     46   413.54
24  23-Jan-2015  Central   Binder      19.99     50   999.50
25   1-Feb-2015  Central   Binder      15.00     87  1305.00
26   9-Feb-2015  Central   Pencil       4.99     36   179.64
27  18-Feb-2015     East   Binder       4.99      4    19.96
28  26-Feb-2015  Central      Pen      19.99     27   539.73
29   7-Mar-2015     West   Binder      19.99      7   139.93
30  15-Mar-2015     West   Pencil       2.99     56   167.44
31  24-Mar-2015  Central  Pen Set       4.99     50   249.50
32   1-Apr-2015     East   Binder       4.99     60   299.40
33  10-Apr-2015  Central   Pencil       1.99     66   131.34
34  18-Apr-2015  Central   Pencil       1.99     75   149.25
35  27-Apr-2015     East      Pen       4.99     96   479.04
36   5-May-2015  Central   Pencil       4.99     90   449.10
37  14-May-2015  Central   Pencil       1.29     53    68.37
38  22-May-2015     West   Pencil       1.99     32    63.68
39  31-May-2015  Central   Binder       8.99     80   719.20
40   8-Jun-2015     East   Binder       8.99     60   539.40
41  17-Jun-2015  Central     Desk     125.00      5   625.00
42  25-Jun-2015  Central   Pencil       4.99     90   449.10

2). Average unit price for each region. Use the groupby() method.

In [10]:
df.head(5)

          Date   Region     Item  UnitPrice  Units   Amount
0   4-Jul-2014     East  Pen Set       4.99     62   309.38
1  12-Jul-2014     East   Binder       1.99     29    57.71
2  21-Jul-2014  Central  Pen Set      12.49     55   686.95
3  29-Jul-2014     East   Binder      19.99     81  1619.19
4   7-Aug-2014  Central  Pen Set      23.95     42  1005.90

In [16]:
df.groupby('Region')['UnitPrice'].mean()

Region
Central    18.018750
East        9.143846
West       53.658333
Name: UnitPrice, dtype: float64

3). Average unit price for each region. Use the pivot_table() method.

In [26]:
pd.pivot_table(df, index='Region', values='UnitPrice', aggfunc = np.mean)

         UnitPrice
Region
Central  18.018750
East      9.143846
West     53.658333

4). Average unit price and units for each region in one code sentence. Use the groupby() method.

In [27]:
df.groupby('Region')[['UnitPrice', 'Units']].mean()

         UnitPrice      Units
Region
Central  18.018750  49.958333
East      9.143846  53.153846
West     53.658333  38.500000

5). Average unit price and units for each region in one code sentence. Use the pivot_table() method.

In [28]:
pd.pivot_table(df, index='Region', values=['UnitPrice','Units'], aggfunc = np.mean)

         UnitPrice      Units
Region
Central  18.018750  49.958333
East      9.143846  53.153846
West     53.658333  38.500000

6). Total units for each region and item type in one code sentence. Use the pivot_table() method. Fill the missing values with 0.

In [29]:
pd.pivot_table(df, index='Region', values=['Units'], aggfunc = np.sum, fill_value=0)

         Units
Region
Central   1199
East       691
West       231

7). Total sales amount for each region and item type in one code sentence. Use the pivot_table() method. Fill the missing values with 0.

In [32]:
pd.pivot_table(df, index='Region', values=['Amount', 'Item'], aggfunc={'Amount':np.sum, 'Item'}, fill_value=0)

SyntaxError: ignored